{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="box">
  <h1>Login</h1>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li style="color:Tomato;">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  <!-- TODO: Use Message Flashing to display feedback to the user with a <p> -->
  <form method="POST">
  {{ form.hidden_tag() }}

  <div class="mb-3" style="width: 50%">
    {{ form.username.label(class="form-label") }}
    {{ form.username(class="form-control") }}
    {{ form.password.label(class="form-label") }}
    {{ form.password(class="form-control") }}
  </div>

  {{ form.submit(class="btn btn-primary") }}
</form>
</div>
{% endblock %}